.bus-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bus-card {
    width: 300px;
    margin: 15px;
    transition: transform 0.3s;
  }
  
  .bus-card:hover {
    transform: scale(1.05);
  }
  
  